<div class="banner banner-sm" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="text-center">
    <h1 class="mb-5 text-white"><%= current_user.first_name %>'s pets</h1>
    <%= link_to "Add a pet", new_pet_path, class: 'btn button text-white mt-3' %>
  </div>
</div>

<div class="container">
  <div class="row p-4">
    <% @pets.each do |pet| %>
      <div class="col-sm-4">
        <div class="card p-3 mt-2 text-dark">
          <%= cl_image_tag pet.photo, height: 200, class: "card-img-top my-image"%>
          <ul class="list-unstyled mt-2">
            <li><h4 class="font-weight-bold"><%= pet.name %></h4></li>
            <li>Species: <%= pet.species %></li>
            <li>Age: <%= pet.age %></li>
          </ul>
          <div class="d-flex justify-content-end">
            <%= link_to pet_path(pet), class: 'text-success' do %>
              <i class="fas fa-info-circle"></i>
            <% end %>
            <%= link_to edit_pet_path(pet), class: 'text-warning mx-3' do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to pet_path(pet), method: :delete, class: 'text-danger' do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
   </div>
</div>

