<div class="banner banner-sm d-flex align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1548767797-d8c844163c4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80);">
  <div class="container">
    <div class="px-3">
      <h1 class="mb-1 text-white">Check out these adorable <span class="font-weight-bold"><%= @pets.first.species.capitalize %>s</span></h1>
    </div>
  </div>
</div>


<div class="d-flex p-2 map-layout">
  <div class="row pr-2 cards-box">
    <% @pets.each do |pet| %>
    <div class="col-sm-4">
      <div class="card mb-3">
        <div class="px-3">
          <%= link_to pet_path(pet) do %>
          <%= cl_image_tag pet.photo, style: "object-fit: cover;", class: "card-img-top pt-3"%>
          <% end %>
          <div>
            <h4 class="pet-name py-3 m-0 font-weight-bold"><%= pet.name %></h4>
            <div class="my-1">
              <p class="m-0">Age: <%= pet.age %></p>
              <p class="m-0">Species: <%= pet.species %></p>
              <p class="m-0">Price per day: <%= pet.price_per_day %>€</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end align-items-center pet-extra-info pt-2 px-3">
          <%= link_to "View Details", pet_path(pet), class: 'btn btn-outline-red mb-2'%>
        </div>
      </div>

    </div>
    <% end %>
  </div>

  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


