<div class="banner banner-sm d-flex d-flex flex-column justify-content-center" style="background-image: url('<%= cl_image_path @pet.photo %>');">
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-7">
      <h4 class="py-3 m-0 font-weight-bold"><%= @pet.name %></h4>
      <p>Age: <%= @pet.age %></p>
      <p>Species: <%= @pet.species %></p>
      <p>Average Rating: <%= @average_rating %></p>
    </div>
    <div class="col-12 col-lg-5">
      <%= render "bookings/form" %>
    </div>
  </div>
</div>
