<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-4">
      <%= cl_image_tag @pet.photo, class: "card-img-top" %>
    </div>
    <div class="col-12 col-lg-8 align-left">
      <%= simple_form_for([@pet, @booking]) do |f| %>
        <div class="form-group">
          <%= f.input :start_date, as: :date, html5: true, class: "form-control" %>
          <%= f.input :end_date, as: :date, html5: true, class: "form-control" %>
        </div>
        <%= f.submit class: 'btn button text-white' %>
      <% end %>
    </div>
    <div class="col-12">
      <h4 class="pet-name py-3 m-0 font-weight-bold"><%= @pet.name %></h4>
      <p>Age: <%= @pet.age %></p>
      <p>Species: <%= @pet.species %></p>
    </div>
  </div>
</div>
