<div class="container py-5">
  <div class="row tab-row">
    <div class="col-6 p-0">
      <%= link_to bookings_path, class: "link" do %>
      <div class="tab tab-left active">
        <p class="m-0">My bookings</p>
      </div>
      <% end %>
    </div>
    <div class="col-6 p-0">
      <%= link_to bookings_booked_path, class: "link" do %>
      <div class="tab tab-right">
        <p class="m-0">My pets' bookings</p>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container pb-5">
  <div class="row">
    <h1>My upcoming bookings</h1>
    <% @bookings.each do |booking| %>
    <% if booking.end_date >= Date.today %>
    <div class="col-12 p-0">
      <div class="card-booking d-flex">
        <%= cl_image_tag booking.pet.photo%>
        <div class="mr-auto p-2">
          <p> <%= booking.start_date.strftime("%A, %b %d") %> - <%= booking.end_date.strftime("%A, %b %d")%> </p>
          <h2 class="my-1"><%=booking.pet.name.capitalize%></h2>
        </div>
        <div class="py-1 pl-3 my-2 border-left">
          <p>Total price:</p>
          <h2><%= booking.compute_price(booking.pet.price_per_day)%> €</h2>
          <br>
          <%= link_to booking_path(booking), class: 'text-secondary' do %>
          <div class="d-flex justify-space-between align-items-center">
            <i class="far fa-eye"></i>
            <p class="ml-1"> View booking </p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <div class="row">
    <h1>My past bookings</h1>
    <% @bookings.each do |booking| %>
    <% if booking.end_date < Date.today %>
    <div class="col-12 p-0">
      <div class="card-booking d-flex">
        <%= cl_image_tag booking.pet.photo%>
        <div class="mr-auto p-2">
          <p> <%= booking.start_date.strftime("%A, %b %d") %> - <%= booking.end_date.strftime("%A, %b %d")%> </p>
          <h2 class="my-1"><%=booking.pet.name.capitalize%></h2>
        </div>
        <div class="py-1 pl-3 my-2 border-left">
          <p>Total price:</p>
          <h2 class="mb-3"><%= booking.compute_price(booking.pet.price_per_day)%> €</h2>
          <%= link_to booking_path(booking), class: 'text-secondary' do %>
          <div class="d-flex justify-space-between align-items-center">
            <i class="far fa-eye"></i>
            <p class="ml-1"> View booking </p>
          </div>
          <% end %>
          <%= link_to new_booking_review_path(booking), class: 'text-secondary' do %>
          <div class="d-flex justify-space-between align-items-center">
            <i class="fas fa-star"></i>
            <p class="ml-1"> Leave a review </p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

