<div class="container py-5">
  <h1>Your upcoming bookings</h1>
  <div class="row">
    <% @bookings.each do |booking| %>
    <% if booking.end_date >= Date.today %>

      <div class="col-12">
        <div class="card-booking d-flex">
          <%= cl_image_tag booking.pet.photo%>
          <div class="mr-auto p-2">
            <p> <%= booking.start_date.strftime("%A, %b %d") %> - <%= booking.end_date.strftime("%A, %b %d")%> </p>
            <h2 class="my-1"><%=booking.pet.name.capitalize%></h2>
          </div>
          <div class="py-1 pl-3 my-2 border-left">
            <p>Total price:</p>
            <h2><%= booking.compute_price(booking.pet.price_per_day)%> €</h2>
            <br>
            <%= link_to booking_path(booking), class: 'text-secondary' do %>
              <div class="d-flex justify-space-between align-items-center">
                <i class="far fa-eye"></i>
                <p class="ml-1"> View booking </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

    <h1>Your past bookings</h1>
    <div class="row">
      <% @bookings.each do |booking| %>
      <% if booking.end_date < Date.today %>
      <div class="col-12">
        <div class="card-booking d-flex">
          <%= cl_image_tag booking.pet.photo%>
          <div class="mr-auto p-2">
            <p> <%= booking.start_date.strftime("%A, %b %d") %> - <%= booking.end_date.strftime("%A, %b %d")%> </p>
            <h2 class="my-1"><%=booking.pet.name.capitalize%></h2>
          </div>
          <div class="py-1 pl-3 my-2 border-left">
            <p>Total price:</p>
            <h2 class="mb-3"><%= booking.compute_price(booking.pet.price_per_day)%> €</h2>
            <%= link_to booking_path(booking), class: 'text-secondary' do %>
              <div class="d-flex justify-space-between align-items-center">
                <i class="far fa-eye"></i>
                <p class="ml-1"> View booking </p>
                </div>
            <% end %>
            <%= link_to new_booking_review_path(booking), class: 'text-secondary' do %>
              <div class="d-flex justify-space-between align-items-center">
                <i class="fas fa-star"></i>
                <p class="ml-1"> Leave a review </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
