<div class="container py-5">
  <h1>Your upcoming bookings</h1>
  <div class="row">
    <% @bookings.each do |booking| %>
    <% if booking.end_date >= Date.today %>

      <div class="col-12">
        <div class="card-booking d-flex">
          <%= cl_image_tag booking.pet.photo%>
          <div class="mr-auto p-2">
            <p> <%= booking.start_date.strftime("%A, %b %d") %> - <%= booking.end_date.strftime("%A, %b %d")%> </p>
            <h2 class="my-1"><%=booking.pet.name%></h2>
          </div>
          <div class="py-1 pl-3 my-2 border-left">
            <p>Total price:</p>
            <h2><%= booking.compute_price(booking.pet.price_per_day)%> €</h2>
            <br>
            <%= link_to "view booking", booking_path(booking) %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

    <h1>Your past bookings</h1>
    <div class="row">
      <% @bookings.each do |booking| %>
      <% if booking.end_date < Date.today %>
      <div class="col-12">
        <div class="card-booking d-flex">
          <%= cl_image_tag booking.pet.photo%>
          <div class="mr-auto p-2">
            <p> <%= booking.start_date.strftime("%A, %b %d") %> - <%= booking.end_date.strftime("%A, %b %d")%> </p>
            <h2 class="my-1"><%=booking.pet.name%></h2>
          </div>
          <div class="py-1 pl-3 my-2 border-left">
            <p>Total price:</p>
            <h2><%= booking.compute_price(booking.pet.price_per_day)%> €</h2>
            <%= link_to "view booking", booking_path(booking) %>
            <br>
            <%= link_to "leave a review", new_booking_review_path(booking) %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
