<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<!--   default navbar not logged in, branded navbar -->
  <div class="navbar-left">
    <%= link_to "#", class: "navbar-brand" do %>
      <div class="navbar-logo">
          <h5><i class="fas fa-paw"></i> PetNow</h5>
        </div>
      <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </ul>

  <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
<!-- put user type logic here -->
        <li class="nav-item active">
          <%= link_to "Search", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pets", pets_path, class: "nav-link" %>
        </li>
          <li class="nav-item">
          <%= link_to "Bookings", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown ml-3">
          <%= image_tag "https://loremflickr.com/cache/resized/8190_8101925632_abf0c583e2_320_320_nofilter.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
           <!-- put user name logic here -->
            <%= link_to "Edit profile", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
